
.Header {
width:100%;
letter-spacing:2px;
background:url('/background.jpg') center/cover ;
height:100vh;
text-align:center;
padding-top:8rem;  
}
.Title{
color: #eafaf1;
font-size:6rem;
max-width:650px;
margin: 0 auto }